body {
    background: linear-gradient(to right, #a1b3d5, #6d7178);
    min-height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-container {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.login-heading {
    font-weight: 700;
    color: #586782;
}

.btn-primary {
    background-color: #4f5258;
    border: none;
}

.btn-primary:hover {
    background-color: #839ecf;
}

.google-login {
    display: flex;
    justify-content: center;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    color: #888;
    margin: 20px 0;
}

.divider::before,
.divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ccc;
}

.divider:not(:empty)::before {
    margin-right: .5em;
}
.divider:not(:empty)::after {
    margin-left: .5em;
}
